@keyframes add-cart {
  0% {
    transform: translateY(0);
    z-index: 1000;
  }
  50% {
    transform: translateY(250%) scale(0.3);
    opacity: 0.1;
  }

  51% {
    transform: translateY(-5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(29rem);
  }
}

@keyframes car {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(110%);
  }
  51% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(110%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes remove {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(60rem) scale(0.3);
    opacity: 0;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  position: relative;

  background-color: rgb(229, 235, 237);
}

/* MOBILE NAVIGATION */

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #6cffae;
  opacity: 0;
  visibility: hidden;

  display: block;
  width: 7rem;
  height: 7rem;
  position: fixed;
  right: 2rem;
  top: 2rem;
  border-radius: 50%;
  z-index: 9999;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2rem 8rem rgba(black, 0.8);
}

.navigation__nav {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.5s;
  height: 0;
}

.navigation__icon::before {
  content: "";
  width: 4rem;
  height: 2px;
  background-color: black;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0.8rem;
}

.navigation__icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;

  background-color: black;
  display: inline-block;
  width: 4rem;
  height: 2px;
}

.navigation__icon::after {
  top: 0.8rem;
  content: "";
  width: 4rem;
  height: 2px;
  background-color: black;
  display: inline-block;
  position: absolute;
  left: 0;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__background {
  display: none;
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  height: 100vh;
}

.navigation__item {
  margin-top: 2.5rem;
  font-size: 3.5rem;
  font-weight: 300;
  display: none;
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  display: block;
  width: 30rem;
  padding: 0.5rem 2.5rem;
  border-radius: 2px;
  transition: all 0.3s;
}

.navigation__link:hover {
  background-color: white;
  color: black;
}

/* DESKTOP NAVIGATION */

.nav-container {
  background-color: rgb(84, 233, 176);
  width: 100vw;
  height: 9rem;
  display: flex;
  align-items: center;
}

.nav-container__ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav-container__items {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: 0.3s all;
}

.nav-container__items:hover {
  background-color: rgb(243, 244, 245);
  border-radius: 3px;
  color: rgb(0, 173, 104);

  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.nav-container__items:active {
  transform: translateY(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

/* MAIN CONTENT  */

.background-image-container {
  position: relative;
  width: 100vw;
  height: 80vh;
  margin-bottom: 3rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/bkgrnd-image.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;

  display: block;
}

.btn-container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 30rem;
  height: 5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.category {
  display: none;
}

.radio-control {
  font-size: 1.6rem;
  margin-right: 2rem;
  background-color: rgb(229, 235, 237);
  padding: 0.5rem 2rem;
  border-radius: 3px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.2s;
}

.radio-control:hover {
  background-color: rgb(84, 233, 176);
  color: white;
}

.category:checked + .radio-control {
  color: white;
  background: black;
}

.btn-container:hover {
  background-color: rgb(184, 182, 182);
}

.main-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.base-layout {
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.h1-car {
  text-transform: uppercase;
  align-self: center;
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  letter-spacing: 1.8rem;
}

.filter-container {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  margin-top: 3rem;
  display: flex;
}

.price-container {
  background-color: black;
  min-width: 30rem;
  color: #fff;
  margin-left: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 24px;
  position: relative;
  cursor: pointer;
  margin-left: auto;
}

.price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
}

.main-item-grid {
  display: grid;
  margin-top: 3rem;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: repeat(3, 28rem);
}
.animation {
  animation: add-cart;
  animation-duration: 2s;
}
.grid-item {
  background-color: #fff;
  position: relative;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.item-price {
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}

.add-btn {
  background-color: #fff;
  border-radius: 100%;
  width: 5rem;
  text-align: center;
  height: 5rem;
  padding: 2rem;
  border: 0.8rem solid rgb(229, 235, 237);
  position: absolute;
  bottom: -2.5rem;
  right: -2.5rem;
  cursor: pointer;
  transition: 0.3s all;
  outline: none;
}

.plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-46%, -45%);
  font-size: 3rem;
  color: rgb(84, 214, 162);
}

.new-plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.add-btn:hover {
  transform: scale(1.1, 1.1);
  border: 0.8rem solid rgb(84, 233, 176);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.add-btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.img-container {
  overflow: hidden;
}

.car-image {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  transition: 0.2s all;
}

.img-container:hover .car-image {
  animation: car;
  animation-duration: 1.3s;
}

.footer-container {
  width: 100%;
  height: 12rem;
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  padding: 1rem;

  transition: 1s;
  display: flex;
  overflow: visible;
  overflow-x: scroll;

  visibility: hidden;
}

.checkbox-btn {
  width: 10rem;
  height: 3rem;
  background-color: rgb(85, 83, 83);
  position: fixed;
  border-radius: 3px;
  bottom: 11.5rem;
  z-index: -1;
  font-size: 1.5rem;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  z-index: 5000;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.slide-footer {
  display: none;
}

.slide-up-animation {
  visibility: visible;
}

.bg-fixed {
  background-color: black;
  height: 10rem;
  width: 8rem;
  border-radius: 4px;
  padding: 1rem;
  position: fixed;
  right: 1rem;
  z-index: 5000;
  color: white;

  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-car-image {
  min-width: 10rem;
  height: 5.5rem;
}

.cart-price {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-weight: 600;
}

.footer-items {
  background-color: rgb(255, 255, 255);
  width: 17rem;
  list-style-type: none;
  border-radius: 4px;
  margin-right: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  position: relative;
  animation: fade-in;
  animation-duration: 1s;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.remove-item {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  color: white;
  background-color: rgb(99, 97, 97);

  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  border: none;
}

.order-container {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  background-color: rgb(2, 201, 124);
  height: 8rem;
  width: 15rem;
  border-radius: 4px;
  padding: 1rem;
  position: fixed;
  bottom: 12rem;
  right: 0;
  z-index: 5000;
  color: white;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: 1s;
  transform: translateX(16rem);
}

.price-cont {
  display: flex;
  margin-top: 1rem;
}

.remove-animation {
  animation: remove;
  animation-duration: 1s;
}

.footer-header {
  font-size: 5rem;
  width: 30rem;
  margin: 0 auto;
  background-image: linear-gradient(to right, #84ffbb, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid rgb(223, 222, 222);
  padding-bottom: 1rem;
}

.ul-list {
  list-style-type: none;
  font-size: 1.5rem;
}

.real-footer {
  position: static;
  height: 30rem;
  background-color: rgb(34, 34, 34);
  margin-top: 20rem;
  padding: 2rem 0;
  width: 100%;
  bottom: 0;
}

.real-footer-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.copyright {
  align-self: center;
  color: white;
  font-size: 1.5rem;
}

.ul-list__items {
  color: white;
  text-transform: uppercase;
  padding: 0.8rem 1rem;
  transition: all 0.2s;
  border-radius: 2px;
  cursor: pointer;
}

.ul-list__items:hover {
  background-color: rgb(121, 121, 121);
  transform: translateY(-2px);
}

.footer-link {
  color: white;
  font-size: 1.5rem;
}

/* MEDIA QUERIES  */

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 46.8em) {
  .navigation__button {
    opacity: 1;
    visibility: visible;
  }

  .nav-container {
    display: none;
  }

  .navigation__item {
    display: block;
  }
}
